body {
	background: #141414;
}

.c-sst-box {
	margin-top: 30px;
	padding: 30px 35px 35px;
}
.c-sst-logo {
	justify-content: flex-start;
	img {
		max-width: none;
		width: 170px;
	}
}
.l-sst-security {
	padding: 10px;
	&__content {
		position: relative;
		z-index: 1;
		max-width: 460px;
	}
	@media (min-width: 64em) {
		width: 80vw
	}
}
.l-sst-form {
	margin-top: 10px;
	#Remember {
		p {
			display: none;
		}
	}

	input[type="submit"] {
		width: 100%;
		text-align: center;
	}
}

.security-img-bg {
	content: '';
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 55%;
	height: 100%;
	margin: 0;
	z-index: 0;
	background-size: cover;
	background-position: center center;
	@media (min-width: 64em) {
		display: block;
	}
}
